.social_list{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;  
  list-style: none;
  height: 4rem;
}
.social_list li{
  margin: 0 1rem;
}
.social_list svg{
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}
.social_list svg:hover{
  color: aqua;
}